html,
body {
  font-family: "Barlow", sans-serif;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #02a39b;
    border-radius: 10px;
  }
}

.MuiFormLabel-root.Mui-focused {
  color: #02a39b !important;
}

.MuiFilledInput-underline.Mui-focused:after {
  border-color: #02a39b !important;
}

.MuiFilledInput-underline:after {
  border-color: #02a39b !important;
}

.custom-btn {
  text-transform: none !important;
  background-color: #01645f !important;
  transition: all 0.3s !important;
  outline: none !important;
  font-family: Montserrat, sans-serif !important;
  color: white !important;
  &:hover {
    background-color: #02a39b !important;
  }
}

.bg {
  height: 100%;
  width: 100%;
  background-color: grey;
  color: white !important;
}

.mt-lms {
  margin-top: 90px !important;
}

@media only screen and (max-width: 576px) {
  .mt-lms {
    margin-top: 150px !important;
  }
}

@media only screen and (max-width: 1160px) {
  .modalLeft {
    margin-left: 140px !important;
  }
}

@media only screen and (max-width: 992px) {
  .modalLeft {
    margin-left: 0px !important;
  }
}

.loader {
  color: white !important;
  width: 23px !important;
  height: 23px !important;
  margin: 3px 0;
}

// Dashboard
@import "./Dashboard";
